<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Have you seen me?", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li class="menu-option">
                                <div class="menu-pets"></div>
                                <span class="select">Pets</span>
                                <div class="menu-bubble"> 
                                    <div class="blubble-content">
                                        <div>   
                                            <div class="float-right">
                                                <form>
                                                    <input type="text" id="search-pet" placeholder="search pet"/>
                                                </form>
                                            </div>
                                            <ul>
                                                <li>@Html.ActionLink("Missing Pets", "MissingPets", "Pet")</li>
                                                <li><a>Find an Animal Shelter</a></li>
                                                <li><a>Read our Blog</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div class="float-left">
                                                <img src="/Content/Images/pets-menu.jpg"/>
                                            </div>
                                            <p><span class="spetial">Have you seen me</span> is constantly updated with reports of pets lost,
                                            found and re-united from all over the world. Thanks to the efforts of our 
                                            volunteer members, and the cutting edge technology of our online system, 
                                            <span class="spetial">Have you seen me</span> is able to reunite more and more beloved Pets 
                                            with their families. Click on any Pet to see their full details, and please do 
                                            consider joining our network, and lending a hand.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-option">
                                <div class="menu-get-involve"></div>
                                <span class="select">Get Involve</span>
                                <div class="menu-bubble">
                                    <ul>
                                        <li><a>Support Us</a></li>
                                        <li><a>Donate</a></li>
                                        <li><a>Volunteer</a></li>
                                        <li><a>Training</a></li>
                                        <li><a>Find a Pet to Adopt</a></li>
                                        <li><a>Pet adoption information</a></li>
                                        <li><a>More about pet adoption</a></li>
                                    </ul>
                                    <div>
                                        <img src="/Content/Images/dog-cat-logo2.png"/>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-option">
                                <div class="menu-about"></div>
                                <span class="select">About Us</span>
                                <div class="menu-bubble">
                                    <div>
                                        <ul>
                                            <li><a>Frequently Asked Questions</a></li>
                                            <li><a>How to use this site</a></li>
                                            <li><a>Mission and Purpose</a></li>
                                            <li><a>Our History</a></li>
                                            <li><a>Founders</a></li>
                                        </ul>
                                        <div>
                                            <img src="/Content/Images/about-us-menu.jpg"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-option">
                                <div class="menu-contact"></div>
                                <span class="select">Contact</span>
                                <div class="menu-bubble">
                                    <div class="blubble-content">
                                        
                                        <div class="float-left">
                                            <ul>
                                                <li>@Html.ActionLink("How to reach us", "Contact", "Home")</li>
                                                <li><a>Local Adress</a></li>
                                                <li><a>Telephone Guide</a></li>
                                                <li><a>Our e-mails</a></li>
                                            </ul>
                                        </div>
                                        <div class="float-right">
                                            <img src="/Content/Images/contact-menu.jpg"/>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="menu-option">
                                <div class="menu-members"></div>
                                <span class="select">Members</span>
                                <div class="menu-bubble">
                                    <div>
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <div class="content-wrapper">
                <div id="carousel">
                    <div id="slider">
                        <img src="/Content/Images/animals-q-g-404-200-8.jpg"/>
                        <img src="/Content/Images/animals-q-g-404-200-9.jpg"/>
                        <img src="/Content/Images/cats-q-g-404-200-1.jpg"/>
                        <img src="/Content/Images/animals-q-g-404-200-6.jpg"/>
                        <img src="/Content/Images/animals-q-g-404-200-10.jpg"/> 
                        <img src="/Content/Images/animals-q-g-404-200-8.jpg"/>
                        <img src="/Content/Images/animals-q-g-404-200-9.jpg"/>
                        <img src="/Content/Images/cats-q-g-404-200-1.jpg"/>                                               
                    </div>
                </div>
            </div>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <script>

            $(document).ready(function () {
                $('#search-pet').on('keyup click', function () {
                    if (!$("#missing-pets").length) {
                        //alert("there is no missing pets list");
                        window.location = "/Pet/MissingPets";
                    }
                });
            });

        </script>

    </body>
</html>
