@model IEnumerable<HaveYouSeenMe.Models.MessageModel>

@{
    ViewBag.Title = "Messages";
}

<h2>Inbox</h2>

<table id="data-grid" class="stripe hover row-border order-column">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
        <tr class="message-row" data-message-id="@item.MessageID">
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageDate)
            </td>
            <td class="delete-link">
                @*@Html.ActionLink("Delete This Message", "DeleteMessage", new { id=item.MessageID })*@
                @using (Html.BeginForm("DeleteMessage", "Members", new { id = item.MessageID }, FormMethod.Post))
                { 
                    <input type="submit" value="Delete Message" />    
                }
            </td>
        </tr>
    }

    </tbody>
</table>

@foreach (var item in Model)
{ 
<div id="message-details-@item.MessageID" class="message-details">
    <div class="inner-container">
        <div class="float-right">
            <button type="button" value="close" id="close-message-@item.MessageID" class="close-popup">X</button>
        </div>
        <div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.MessageDate):
            </div>
            <div class="display-field">
                @Html.DisplayFor(modelItem => item.MessageDate)
            </div>
        </div>
        <div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Sender):
            </div>
            <div class="display-field">
                @Html.DisplayFor(modelItem => item.Sender)
            </div>
        </div>
        <div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Subject):
            </div>
            <div class="display-field">
                @Html.DisplayFor(modelItem => item.Subject)
            </div>
        </div>
        <div class="message-text">
@*            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Message)
            </div>*@
            <div class="display-field">
                @Html.DisplayFor(modelItem => item.Message)
            </div>
        </div>
    </div>
</div>
}

@section Styles {
    <style>

        #data-grid .message-row td:not(.delete-link) {
            cursor: pointer;    
        }

        .message-details {
            position: fixed;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
            z-index: 101;
            display: none;
        }

            .message-details .inner-container {
                background-color: #FFF;
                border-radius: 10px 10px 10px 10px;
                position: static;
                margin-top: 7em;
                margin-left: auto;
                margin-right: auto;   
                width: 60%;
                padding: 5%;
                min-height: 30em;
            }

                .message-details .inner-container .display-label {
                    display: inline-block;
                    font-weight: bold;
                    font-size: 1.2em;                    
                    margin-top: 1em;
                }

                .message-details .inner-container .display-field {
                    display: inline-block;   
                    color: #333; 
                    font-size: 1.1em;                    
                }

                .message-details .inner-container .message-text {
                    margin-top: 1.1em;
                }

    </style>
}

@section Scripts {
    @Styles.Render("~/Content/themes/table/css")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#data-grid").dataTable({
                bJQueryUI: true,
                sPaginationType: "full_numbers",
                "aoColumns": [ 
                                null,
                                null, 
                                { "sSortDataType": "dom-text", "sType": "date" },
                                { "bSortable": false }
                ],
                "sDom": '<"top"p>frt<"bottom"p><"clear">'
            });

            $("#data-grid").on("click", "td:not(.delete-link)", function (e) {
                var row = $(this).parent();
                var messageId = ["#message-details-", row.data("message-id")].join(""); 

                var mailBox = $(messageId).fadeIn().css("display", "inline-block");
                var btnClose = $(["#close-message-", row.data("message-id")].join(""));

                var CloseFn = function (event) {
                    event.stopPropagation();

                    //make the opaque background invisible
                    //and unbind the click event
                    mailBox.fadeOut().css("display", "inline-block").unbind("click");
                    btnClose.unbind("click");
                };

                mailBox.bind("click", CloseFn);
                btnClose.bind("click", CloseFn);

            });
        });
    </script>
}