@model IEnumerable<HaveYouSeenMe.Models.PetModel>
@using HaveYouSeenMe.Utilities

@{
    ViewBag.Title = "MissingPets";
}

<h2>Missing Pets</h2>

<div id="opaque-background"></div>
<div id="pets-list-container">
<div id="pet-details"></div>
<table id="missing-pets" class="stripe hover">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
    <tr>
        <td>                   
            <div class="pet-description clear-fix">

	            <div class="pet-picture">
                    @Ajax.RawActionLink(string.Format("<img src='/Content/Uploads/{0}.jpg'/>", item.PetName), 
                                        "Display", "Pet",
                                        new { id = item.PetName },
                                        new AjaxOptions
                                            {
                                                HttpMethod = "Get",
                                                InsertionMode = InsertionMode.Replace,
                                                //LoadingElementId = "loadingPhoto",
                                                UpdateTargetId = "pet-details",
                                                OnComplete = "endRequest"
                                            })
	            </div>
	
	            <div class="pet-info">
		            <h3>@Html.DisplayFor(modelItem => item.PetName)</h3>		
		            <ul>
			            <li>
				            @Html.DisplayFor(modelItem => item.PetAgeYears) Years, @Html.DisplayFor(modelItem => item.PetAgeMonths) Months					
			            </li>				
			            <li>
				            @Html.DisplayFor(modelItem => item.StatusDescription)		
			            </li>
			            <li>
				            Last seen on @Html.DisplayFor(modelItem => item.LastSeenOn)
			            </li>
			            <li>
				            At @Html.DisplayFor(modelItem => item.LastSeenWhere)	
			            </li>
			            <li>
				            Owner: @Html.DisplayFor(modelItem => item.OwnerUserName)
			            </li>
			            <li>
				            @Html.ActionLink("Send Message to Owner", "Send", "Message", new { id=item.PetName }, null)    
			            </li>
		            </ul>		
	            </div>
	
	            <div class="pet-notes">
		            @Html.DisplayFor(modelItem => item.Notes)
	            </div>

            </div>
        </td>
    </tr>
    }

    </tbody>
</table>
</div>

@section Styles {
    <style>
        input#search-pet {
            visibility: visible;
        }

	    .pet-description {
		    position: relative;
            margin: 1em 0;
            padding: .3em;
            background-color: none;
	    }
	
	    .pet-picture {
		    width: 20%;
		    float: left;
            min-width: 8em;
	    }
	
	    .pet-picture img {
		    width: 100%;
		    height: 100%;
		    margin: 0 auto;
	    }

        .pet-info {
            width: 64%;
            float: left;
            padding-left: 2em;
	    }

        .pet-info ul {
            list-style: none;
            padding-left: 0;
        }

	    .pet-info li {
            width: 50%;
            float: left;	                
            min-width: 10em;
            padding-right: 1em;
	    }        	
	
	    .pet-notes {
		    position: absolute;
		    top: 92%;
            width: 100%;
            min-height: 2em;
            z-index: 1;
            background-color: rgb(19, 55, 131);
            color: #fff;
            display: none;
            left: 0;
	    }
	
	    .pet-description, .pet-description * {
		    box-sizing: border-box;
	    }

        .pet-description:hover .pet-notes {
            display: block;
        }

        .pet-notes:before {
            content:""; 
            display:block; 
            border-width:10px; 
            border-style:solid; 
            border-left-color:transparent; 
            border-right-color:transparent; 
            border-bottom-color:rgb(19, 55, 131); 
            border-top:none; 
            position:absolute; 
            margin-top:-8px; 
            left:50px;
        }

        #pets-list-container {
            position: relative;
        }

        #pet-details {
            position: fixed;
            top: 10em;
            left: 50%;
            width: 30em;
            min-height: 20em;
            margin-left: -15em;
            background-color: #E9F5FE;
            z-index: 101; 
            border-radius: 10px 10px 7px 55px;  
            overflow: hidden;
            padding: 2em;            
            transition :all .2s ease-out;
        }

            #pet-details:empty {
                border-radius:0;  
                padding: 0;
                width: 0;
                min-height: 0;
            }

        #opaque-background {
            background-color: rgba(0,0,0,0.3);
            position: fixed;
            top: 0; left: 0; right: 0; bottom: 0;
            z-index: 100;
            display: none;            
        }

        div .hidden-content {
            width: 100%;
            height: 100%;            
        }

        @@media only screen and (max-width: 850px) {
            #pet-details {
                top: 10em;
                left: 50%;
                width: 20em;
                min-height: 20em;
                margin-left: -10em;
                padding: 2em;            
            }            
        }

    </style>
}


@section Scripts {
    @Styles.Render("~/Content/themes/table/css")
    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function endRequest(request, status) {

            //make the opaque background visible
            $("#opaque-background").css("display", "block");

            //bind a click event to it
            $("#opaque-background, #close-popup").on("click", function (event) {

                event.stopPropagation();

                //make pet details invissible
                $("#pet-details").empty();

                //make the opaque background invisible
                //and unbind the click event
                $("#opaque-background").css("display", "none").unbind("click");

                $("#close-popup").unbind("click");

            });

        }

        function filterGlobal() {
            $('#missing-pets').DataTable().search(
                $('#search-pet').val()
            ).draw();
        }

        $(document).ready(function () {

            $("#missing-pets").dataTable({
                sPaginationType: "full_numbers",
                "bSort": false,
                "sDom": '<"top"p>rt<"bottom"p><"clear">'
            });

            $('#search-pet').on('keyup click', function () {
                filterGlobal();
            });

        });
    </script>
}